    {{#each games as |game| }}
    <h2>{{name}}</h2>
        <img src={{background_image}} alt={{name}} width="200">
        <p>Released: {{date_released}}</p>
        <p>Rating: {{rating_count}}</p>
      {{/each}}