<!-- Loop over each object in the projects array -->
{{#each games as |game| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the game span as HTML -->
      {{{get_game}}}
      <a href="/project/{{game.id}}">{{game.name}}</a>
    </h2>
    <p>
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount"></span>
      needed!
    </p>
    <p>Created by {{game.name}} on {{format_date game.date_released}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{game.description}}
    </p>
  </div>
</div>
{{/each}}
