<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

    <h3>Add a game to Wishlist:</h3>
    
      <div class="form-group">
        <label for="project-name">Game:</label>
      <input type="text" id="searchBar" placeholder="Search for games by name...">
          <div id="results"></div>
      </div>
    </div>

<div class="row mt-4">
  <div class="col-md-6">
    {{#each games as |game| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>

      <!-- Call helper function with triple brackets to render the game span as HTML -->
      {{{get_game}}}

      {{#if logged_in}}
      <a href="/project/{{game.id}}">{{game.name}}</a>
      {{else}}
      <a href="/login/">{{game.name}}</a>
      {{/if}}
    </h2>




    <p>
      <span for="img" aria-label="money">&#128187;</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="wishlist"></span>
      Add to wishlist!
    </p>
    <p>Released on {{format_date game.date_released}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{game.description}}
    </p>
  </div>
</div>
{{/each}}





  

<script src="./js/profile.js"></script>
